custom_schema_types {
    allowed_coverage_types = [
        'Qualimap'
    ]

    /**
    * Check that input types are in allowed list
    */
    check_input_type_keys = { List given, String name, List choices=custom_schema_types.allowed_coverage_types ->
        for (elem in given) {
            if (!(elem in choices)) {
                throw new Exception("Invalid paramter ${name}. Valid types: ${choices}.")
            }
        }
    }

    /**
    *   Check coverage namespace
    */
    check_coverage_namespace = { Map options, String name, Map properties ->
        custom_schema_types.check_if_namespace(options[name], name);

        def given_keys = options[name].keySet() as ArrayList;
        custom_schema_types.check_input_type_keys(given_keys, name)

        options[name].each { entry ->
            def entry_as_map = [:]
            entry_as_map[entry.key] = entry.value
            schema.validate_parameter(entry_as_map, entry.key, properties.elements[entry.key])
        }
    }

    types = [
        'CoverageNamespace': custom_schema_types.check_coverage_namespace
    ]
}
